html {
  font-size: 62.5%; //base size 10
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: $off-white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.mr-1 {
  margin-right: $s-size;
}

.mt-1 {
  margin-top: $l-size;
}

.center {
  text-align: center;
}


.done {
  text-decoration: line-through;
}
