// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Colors
$red: #ff4e50;
$orange: #fc913a;
$yellow-bright: #f9d62e;
$yellow-pale: #eae374;
$off-white: #e2f4c7;
